<footer class="footer hidden" id="footer2">
    <div class="line">
    <div class="my_account_footer">
      <svg class="footer-icon"><use href="../img/symbol-defs.svg#icon-user"></use></svg>
      <div class="account-info">
        <h3 class="account-name"><a href="#" class="account-name-link">My Account</a></h3>
        <p class="account-sign-in"><a href="" class="account-sign-in-link">Sign-in to your account</a></p>
      </div>
    </div>
    </div>

    <div class="second-line">
    <div class="footer-info">
      <div class="help">
        <h3 class="footer-title">Help</h3>
        <ul class="footer-list">
          <li class="footer-item"><a href="" class="footer-link">Returns Information</a></li>
          <li class="footer-item"><a href="" class="footer-link">Shipping Information</a></li>
          <li class="footer-item"><a href="" class="footer-link">Contact Us</a></li>
          <li class="footer-item"><a href="" class="footer-link">Product Recall</a></li>
          <li class="footer-item"><a href="" class="footer-link">Find a Store</a></li>
        </ul>
      </div>

      <div class="privacy-&-legal">
        <h3 class="footer-title">Privacy & Legal</h3>
        <ul class="footer-list">
          <li class="footer-item"><a href="" class="footer-link">Privacy & Cookie Policy</a></li>
          <li class="footer-item"><a href="" class="footer-link">Gender Pay Gap Report</a></li>
          <li class="footer-item"><a href="" class="footer-link">Terms & Conditions</a></li>
          <li class="footer-item"><a href="" class="footer-link">Cookies</a></li>
        </ul>
      </div>

      <div class="departments">
        <h3 class="footer-title">Departments</h3>
        <ul class="footer-list">
          <li class="footer-item"><a href="" class="footer-link">Womens</a></li>
          <li class="footer-item"><a href="" class="footer-link">Mens</a></li>
          <li class="footer-item"><a href="" class="footer-link">Boys</a></li>
          <li class="footer-item"><a href="" class="footer-link">Girls</a></li>
          <li class="footer-item"><a href="" class="footer-link">Home</a></li>
          <li class="footer-item"><a href="" class="footer-link">Baby</a></li>
          <li class="footer-item"><a href="" class="footer-link">Brands</a></li>
        </ul>
      </div>

      <div class="other-services">
        <h3 class="footer-title">Other Services</h3>
        <ul class="footer-list">
          <li class="footer-item"><a href="" class="footer-link">Media & Press</a></li>
          <li class="footer-item"><a href="" class="footer-link">The Company</a></li>
          <li class="footer-item"><a href="" class="footer-link">Careers@next</a></li>
        </ul>
      </div>
    </div>
    </div>

    <div class="market-sign">
      <a href="" class="market-sign-link">View mobile site</a>
      <p class="market-sign-text">© 2024 Next Retail Ltd. All rights reserved.</p>
    </div>

  </footer>