<div class="footer" id="footer1">
  <footer>
      <div class="footer-links">
          <div class="links-column">
              <h3>LIENS UTILES</h3>
              <ul>
                  <li><a href="#">Mon compte</a></li>
                  <li><a href="#">Mon panier</a></li>
                  <li><a href="#">Paiement en plusieurs fois</a></li>
                  <li><a href="#">Vendre</a></li>
                  <li><a href="#">Suivre ma commande</a></li>
                  <li><a href="#">Mon Club R</a></li>
              </ul>
          </div>
          <div class="links-column">
              <h3>AIDE</h3>
              <ul>
                  <li><a href="#">Besoin d'aide ?</a></li>
                  <li><a href="#">Ouvrir un e-shop en tant que commerçant</a></li>
                  <li><a href="#">Frais de protection acheteurs</a></li>
                  <li><a href="#">Signaler un contenu illicite</a></li>
                  <li><a href="#">Plan du site</a></li>
                  <li><a href="#">Le blog</a></li>
              </ul>
          </div>
          <div class="links-column">
              <h3>RAKUTEN</h3>
              <ul>
                  <li><a href="#">Carrières</a></li>
                  <li><a href="#">Conditions générales</a></li>
                  <li><a href="#">*Conditions des offres</a></li>
                  <li><a href="#">Politique Vie privée</a></li>
                  <li><a href="#">Gestion des cookies</a></li>
                  <li><a href="#">Affiliation</a></li>
                  <li><a href="#">Devenez annonceur</a></li>
                  <li><a href="#">A propos de Rakuten</a></li>
                  <li><a href="#">Fonctionnement du service</a></li>
                  <li><a href="#">Assurances</a></li>
              </ul>
          </div>
      </div>
      <div class="footer-top">
          <!-- Social Media and Payment Methods in one line -->
          <div class="top-section">
              <div class="social-links">
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/linkedinIcon.svg" alt="LinkedIn"></a>
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/facebookIcon.svg" alt="Facebook"></a>
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/twitterIcon.svg" alt="Twitter"></a>
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/instagramIcon.svg" alt="Instagram"></a>
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/youtubeIcon.svg" alt="YouTube"></a>
                  <a href="#" class="social-icon"><img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/pinterestIcon.svg" alt="Pinterest"></a>
              </div>
              <div class="separator"></div>
              <div class="payment-methods">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/visaIcon.svg" alt="Visa">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/mastercardIcon.svg" alt="Mastercard">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/klarna.svg" alt="Klarna">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/paypalIcon.svg" alt="PayPal">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/floaLogo.svg" alt="Floa">
                  <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/americanExpress.svg" alt="American Express">
              </div>
          </div>
      </div>

      <!-- App Download Section -->
      <div class="app-section">
          <div class="app-content">
              <div class="app-text">
                  Avec l'appli Rakuten, bénéficiez de 5% remboursés en Rakuten Points sur tous vos achats !
              </div>
              <div class="app-buttons">
                  <a href="#" class="app-store">
                      <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/appStoreIcon.svg" alt="Télécharger dans l'App Store">
                  </a>
                  <a href="#" class="play-store">
                      <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/playStoreIcon.svg" alt="DISPONIBLE SUR Google Play">
                  </a>
              </div>
          </div>
      </div>

      <!-- Navigation Links -->
      <nav class="footer-nav">
          <div class="nav-container">
              <img src="https://fr.shopping.rakuten.com/visuels/0_TECH/shared-svg/RakutenLogos.svg" alt="Rakuten Logo" class="nav-logo">
              <div class="nav-links">
                  <a href="#">Rakuten Kobo</a>
                  <a href="#">Rakuten TV</a>
                  <a href="#">Rakuten Viber</a>
                  <a href="#">Rakuten Viki</a>
                  <a href="#">Plus de services</a>
                  <a href="#">À propos de Rakuten</a>
              </div>
          </div>
          <select class="country-select">
              <option value="fr">France</option>
              <option value="de">Allemagne</option>
              <option value="br">Brésil</option>
              <option value="us">Etats-Unis</option>
              <option value="jp">Japon</option>
              <option value="tw">Taïwan</option>
          </select>
      </nav>

      <!-- Copyright -->
      <div class="copyright">
          © Rakuten France 2000 - 2024
      </div>

      <!-- Black Friday Links -->
      <div class="black-friday-links">
          <a href="#">Offres Black <br> Friday</a>
          <a href="#">Eden Park Black <br> Friday</a>
          <a href="#">Basket Homme Black <br> Friday</a>
          <a href="#">Calvin Klein Black <br> Friday</a>
          <a href="#">Fauteuil Black <br> Friday</a>
          <a href="#">Manteau Homme Black <br> Friday</a>
          <a href="#">Sergent Major Black <br> Friday</a>
          <a href="#">Lego Technic Black <br> Friday</a>
          <a href="#">Black Friday <br> Livres</a>
          <a href="#">Manette PS5 Black <br> Friday</a>
      </div>
  </footer>


  </div>