<div class="header hidden" id="header2">
    <div class="info-line">
        <p class="info">€2 Home delivery within 1-2 days | Free collection from store</p>
      </div>
    <nav class="navigation">
      <div class="logo-line">
        <div class="logo_searchbox">
        <a href="" class="logo">NEXT<img src="/static-content/icons/header/next/v3/default/new-next-gold-logo.svg" alt=""></a>
        <input type="text" class="search-product" placeholder="Search product or brand">
        </div>
        <div class="my_account_bascket_checkout">
        <a href="" class="my_account">My Account<svg class="icon"><use href="../img/symbol-defs.svg#icon-user"></use></svg></a>
        <a href="" class="bascket"><svg class="icon icon-cart"><use href="../img/symbol-defs.svg#icon-cart"></use></svg></a>
        <button class="checkout_button">CHECKOUT</button>
        <svg class="icon"> <use href="../img/symbol-defs.svg#icon-earth"></use></svg>
        </div>
      </div>
      <div class="list_line">
        <ul class="list">
          <li class="item"><a href="" class="item_link_christmas">CHRISTMAS</a></li>
          <li class="item"><a href="" class="item_link">WOMEN</a></li>
          <li class="item"><a href="" class="item_link">MEN'S</a></li>
          <li class="item"><a href="" class="item_link">GIRLS</a></li>
          <li class="item"><a href="" class="item_link">BOYS</a></li>
          <li class="item"><a href="" class="item_link">BABY</a></li>
          <li class="item"><a href="" class="item_link">SHOES</a></li>
          <li class="item"><a href="" class="item_link">HOME</a></li>
          <li class="item"><a href="" class="item_link">BRANDS</a></li>
          <li class="item"><a href="" class="item_link_clearance">CLEARANCE</a></li>
        </ul>
      </div>
    </nav>
    </div>